@{
    ViewData["Title"] = "Updates";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/updates/updates.css" />
}

<div class="p-0">
    <div class="row p-0">
        <div class="p-0">
            <div class="fs-4 text-white bg-def mt-3 mb-3 animated-update-window rounded-3">
                <div class="p-3 rounded-3 bg-dr2">
                    <span>Здесь вы можете увидеть последние обновления моего сайта, а также посмотреть историю изменений проекта на GitHub.</span>
                </div>
            </div>


            @{
                foreach (var commit in Model)
                {
                    <div class="fs-4 text-white bg-def mt-3 mb-3 rounded-3 animated-update-window">
                        <div class="p-3 rounded-3 bg-dr2">
                            <div class="d-flex pb-1">
                                <div class="p-1"><b>Author:</b> @commit.AuthorName</div>
                                <div class="bg-dr2 rounded-3 ms-auto">
                                    <a class="text-decoration-none text-dr bg-white w-100" href="@commit.Link">
                                        <div class="ps-2 d-flex">
                                            <div class="bg-def rounded-3 animated-github-button">
                                                <div class="p-2 pb-1 pt-1 bg-dr text-white rounded-3 text-center">
                                                    Github
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            @if (commit.Name != "")
                            {
                                <div class="overflow-auto">
                                    <b>Name:</b> @Html.Raw(commit.Name.Replace("\n", "<br />").ToString())
                                </div>
                            }
                            <div class="ms-4 overflow-auto p-3 @(commit.Name != "" ? "pt-3" : "pt-1")">
                                <ul class="m-0">
                                    @{
                                        // Разделяем сообщение на строки
                                        var lines = commit.Message.Split(new[] { "\n", "\r\n" }, StringSplitOptions.RemoveEmptyEntries);

                                        // Выводим каждую строку как отдельный элемент списка
                                        foreach (var line in lines)
                                        {
                                            <li class="text-break">@line</li>
                                        }
                                    }
                                </ul>
                            </div>

                            <div class=""><b>Date:</b> @commit.Date.ToString("yyyy/MM/dd в HH:mm")</div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>