<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/pictures/Icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pictures/vectors/" asp-append-version="true" />
    <link rel="stylesheet" href="~/JevKrayPersonalSite.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" asp-append-version="true" />

    @await RenderSectionAsync("Sprites", required: false)

</head>
<body class="montserrat-regular bg-dr">
    <div class="wrapper">
        <header class="header m-2 mb-0 mt-0">
            <div class="bg-def text-white container-fluid rounded-bottom">
                <div class="row p-2">

                    @{

                        var currentPage = ViewData["Title"] as string; // Здесь мы присваиваем значение Титла* страницы чтобы определеить на какой странцие мы находимся

                        <div class="nav-brand col-3 fs-3 ">
                            <a class="a-link text-white text-decoration-none logo-main translate-3-text @(currentPage == "Home" ? "a-active" : "")" asp-controller="Home" asp-action="Home"><span></span></a>
                        </div>
                        <div class="col-9 d-none d-md-flex align-items-center">
                            <div class="nav-item ms-auto ps-3 pe-3 fs-4 ">
                                <div class="translate-3-text  @(currentPage == "Education" ? "a-active" : "")">
                                    <a class="a-link text-white text-decoration-none" asp-controller="Home" asp-action="Education">Education</a>
                                </div>
                            </div>
                            <div class="nav-item ps-3 pe-3 fs-4 ">
                                <div class="translate-3-text @(currentPage == "Skills" ? "a-active" : "")">
                                    <a class="a-link text-white text-decoration-none " asp-controller="Home" asp-action="Skills">Skills</a>
                                </div>
                            </div>
                            <div class="nav-item ps-3 pe-3 fs-4">
                                <div class="translate-3-text @(currentPage == "Projects" ? "a-active" : "")">
                                    <a class="a-link text-white text-decoration-none" asp-controller="Projects" asp-action="Projects">Projects</a>
                                </div>
                            </div>
                            <div class="nav-item ps-3 pe-3 fs-4 ">
                                <div class="translate-3-text @(currentPage == "Info" ? "a-active" : "")">
                                    <a class="a-link text-white text-decoration-none" asp-controller="Home" asp-action="Info">Info</a>
                                </div>
                            </div>
                        </div>

                    }
                    <div class="col-9 d-md-none align-items-center text-end">
                        <button type="button" class="btn dropdown-toggle p-0 nav-list-item" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/pictures/vectors/toolbar.svg" width="35" height="auto" alt="SVG Image">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end drop-nav bg-dr">

                            <a class="text-white text-decoration-none" asp-controller="Home" asp-action="Education">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ms-auto ps-3 pe-3 fs-4">Education</div>
                            </li>
                            </a>

                            <a class="text-white text-decoration-none" asp-controller="Home" asp-action="Skills">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ps-3 pe-3 fs-4">Skills</div>
                            </li>
                            </a>

                            <a class="text-white text-decoration-none" asp-controller="Projects" asp-action="Projects">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ps-3 pe-3 fs-4">
                                    Projects
                                </div>
                            </li>
                            </a>

                            <a class="text-white text-decoration-none" asp-controller="Home" asp-action="Info">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ps-3 pe-3 fs-4">Info</div>
                            </li>
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" class="main ms-2 me-2">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>

        <footer class="footer m-2 mt-0 mb-0">
            <div class="fs-4 p-3 pt-2 pb-2 bg-def text-white container-fluid rounded-top">
                <div class="row d-none d-md-flex text-center">
                    <div class="col-3">
                        <div class="d-flex justify-content-center">
                            <a class="a-link translate-3-text text-white text-decoration-none" href="https://t.me/eugenekray"><img src="~/pictures/vectors/tg.svg" class="logo-img">  Telegram</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex justify-content-center">
                            <a class="a-link translate-3-text text-white text-decoration-none" href="https://github.com/Jevkray"><img src="~/pictures/vectors/gh.svg" class="logo-img">  GitHub</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex justify-content-center">
                            <a class="a-link translate-3-text text-white text-decoration-none" href="https://www.linkedin.com/in/eugene-krasovsky-164b60277/"><img src="~/pictures/vectors/lnkd.svg" class="logo-img">  LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex justify-content-center">
                            <a href="#" class="a-link translate-3-text text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#callBackModal">
                                <img src="~/pictures/vectors/msg.svg" class="logo-img">  Mail me
                            </a>
                        </div>
                    </div>
                </div>

                <!--mobile, small resolution, only lodos-->

                <div class="row d-md-none text-center">
                    <div class="logo-item col-3">
                        <div class="d-flex justify-content-center">
                            <a class="a-link translate-3-text" href="https://t.me/eugenekray"><img src="~/pictures/vectors/tg.svg" class="logo-img"></a>
                        </div>
                    </div>
                    <div class="logo-item col-3">
                        <div class="d-flex justify-content-center">
                            <a class="a-link translate-3-text" href="https://github.com/Jevkray"><img src="~/pictures/vectors/gh.svg" class="logo-img"></a>
                        </div>
                    </div>
                    <div class="logo-item col-3">
                        <div class="d-flex justify-content-center">
                            <a class="a-link translate-3-text" href="https://www.linkedin.com/in/eugene-krasovsky-164b60277/"><img src="~/pictures/vectors/lnkd.svg" class="logo-img"></a>
                        </div>
                    </div>
                    <div class="logo-item col-3">
                        <div class="d-flex justify-content-center">
                            <a href="#" class="a-link translate-3-text text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#callBackModal" id="showModalButton">
                                <img src="~/pictures/vectors/msg.svg" class="logo-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--Modal-->
    <div class="modal fade" id="callBackModal" tabindex="-1" role="dialog" aria-labelledby="callBackModalLabel" aria-hidden="true">
        <div class="modal-dialog rounded-3" role="document">
            <div class="modal-content border-modal">
                <div class="modal-header bg-def modal-header-down">
                    <h2 class="modal-title text-white fs-3" id="callBackModalLabel">Оставить сообщение</h2>
                    <button type="button" class="btn-close btn-close-white me-2 btn-close-modal" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="p-3">
                    <form class="" action="" name="form" method="post">
                        <div class="fs-5">
                            <div class="pb-2">
                                <input placeholder="Ваше имя *" id="Username" name="Username" type="text" value="" class="w-100 modal-input-field p-2" required>
                            </div>
                            <div class="pb-2">
                                <input placeholder="Ваш Email*" id="Email" name="Email" type="email" value="" class="w-100 modal-input-field p-2" required>
                            </div>
                            <div class="pb-2">
                                <input placeholder="Тема сообщения *" id="Title" name="Title" value="" class="w-100 modal-input-field p-2" required>
                            </div>
                            <div>
                                <textarea placeholder="Ваше сообщение *" id="Message" name="Message" class="w-100 modal-input-field p-2" rows="3"></textarea>
                            </div>
                            <div id="imageContainer" class="image-container">
                            </div>
                            <div>
                                <input placeholder="Число c изображения *" id="captchaInput" name="Сapcha" type="text" value="" class="w-100 modal-input-field p-2" required>
                            </div>
                            <div class="pb-3 pt-2">
                                <span class="fs-6 opacity-75">Нажимая кнопку "Отправить", я подтверждаю свою дееспособность, даю согласие на обработку моих персональных данных в соответствии с <a asp-controller="Home" asp-action="License" target="_blank">условиями</a></span>
                            </div>
                            <input name="antispam" type="hidden">
                            <div>
                                <input class="margin-input-button" id="sendButton" value="Отправить" type="submit">
                            </div>
                            <div class="" id="modalMessage"></div>
                            <input type="hidden" name="ajax" value="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {

            // Обработчик клика по кнопке "Загрузить изображение"
            $('#loadImageBtn').click(function () {
                loadCaptchaImage(); // Вызываем функцию загрузки капчи
            });
            // Проверка капчи перед отправкой формы
            $('#callBackModal').on('show.bs.modal', function () {
                loadCaptchaImage();
            });
            // Обработчик клика по кнопке отправки формы
            $('#sendButton').click(function (event) {
                event.preventDefault(); // Предотвращаем отправку формы по умолчанию

                // Получаем значения полей формы
                var name = $('#Username').val();
                var email = $('#Email').val();
                var title = $('#Title').val();
                var message = $('#Message').val();
                var captcha = $('#captchaInput').val();

                // Проверяем, заполнены ли все обязательные поля
                if (name && email && title && message && captcha) {
                    // Отключаем кнопку отправки и выводим сообщение "Загрузка"
                    $('#sendButton').prop('disabled', true).addClass('opacity-75').val('Загрузка...');

                    // Выполняем запрос на сервер для отправки сообщения
                    $.ajax({
                        type: 'POST',
                        url: '/MailApi/MailSender',
                        data: {
                            Username: name,
                            Email: email,
                            Title: title,
                            Message: message,
                            Capcha: captcha,
                        },
                        success: function (response) {
                            // По получении успешного ответа от сервера
                            $('#sendButton').val('Доставлено'); // Изменяем текст кнопки на "Доставлено"
                            setTimeout(function () {
                                $('#sendButton').prop('disabled', false).removeClass('opacity-75').val('Отправить'); // Восстанавливаем кнопку отправки
                            }, 1500); // Через 1.5 секунды
                            loadCaptchaImage();
                        },
                        error: function () {
                            // По получении успешного ответа от сервера
                            $('#sendButton').val('Проверьте капчу'); // Изменяем текст кнопки на "Доставлено"
                            setTimeout(function () {
                                $('#sendButton').prop('disabled', false).removeClass('opacity-75').val('Отправить'); // Восстанавливаем кнопку отправки
                            }, 1500); // Через 1.5 секунды
                            loadCaptchaImage();
                        }
                    });
                } else {
                    $('#sendButton').prop('disabled', true).addClass('opacity-75').val('Заполните все поля'); // Изменяем текст кнопки на "Доставлено"
                    setTimeout(function () {
                        $('#sendButton').prop('disabled', false).removeClass('opacity-75').val('Отправить'); // Восстанавливаем кнопку отправки
                    }, 1500); // Через 1.5 секунды
                }
            });
        });


        function loadCaptchaImage() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Home/GetCaptcha', true);
            xhr.responseType = 'blob';
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = xhr.response;
                    var reader = new FileReader();
                    reader.onload = function () {
                        //caphca img
                        var url = reader.result;
                        var img = document.createElement('img');
                        img.src = url;

                        img.classList.add('image-capcha', 'mt-2', 'mb-2', 'rounded-3');

                        document.getElementById('imageContainer').innerHTML = '';
                        document.getElementById('imageContainer').appendChild(img);

                        //button
                        var button = $('<button>', {
                            'type': 'button',
                            'class': 'image-capcha-update-button m-1 rounded ps-1 pb-1 pe-1',
                            'id': 'imageButtonCapcha'
                        });

                        button.click(loadCaptchaImage);

                        $('#imageContainer').append(button);

                        //buttonSVG
                        var buttonSvg = $('<img>', {
                            'src': '/pictures/vectors/update.svg',
                            'class': 'image-capcha-svg-button btn-close-white rounded-3 bg-br'
                        });

                        $('#imageButtonCapcha').append(buttonSvg);

                        //capcha logo
                        var logo = $('<div>', {
                            'class': 'image-capcha-logo m-1 ps-2 pe-2 rounded-3 fs-6 noselect',
                            'text': 'J˙S˙ capcha'
                        })

                        $('#imageContainer').append(logo);

                        $('#captchaMessage').text('');
                    };
                    reader.readAsDataURL(blob);
                } else {
                    console.error('Ошибка загрузки изображения:', xhr.statusText);
                }
            };
            xhr.onerror = function () {
                console.error('Ошибка выполнения запроса на сервер');
            };
            xhr.send();
        }

    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>