<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/pictures/Icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JevKrayPersonalSite.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" asp-append-version="true" />

    @await RenderSectionAsync("Sprites", required: false)

</head>
<body class="montserrat-regular bg-dr">
    <div class="wrapper">
        <header class="header m-2 mb-0 mt-0">
            <div class="bg-def text-white container-fluid rounded-bottom">
                <div class="row p-2">

                    @{

                        var currentPage = ViewData["Title"] as string; // Здесь мы присваиваем значение Титла* страницы чтобы определеить на какой странцие мы находимся

                        <div class="nav-brand col-3 fs-3">
                            <a class="a-link text-white text-decoration-none @(currentPage == "Home" ? "a-active" : "")" asp-controller="HomeNew" asp-action="Home">Home</a>
                        </div>
                        <div class="col-9 d-none d-md-flex align-items-center">
                            <div class="nav-item ms-auto ps-3 pe-3 fs-4">
                                <a class="a-link text-white text-decoration-none @(currentPage == "Education" ? "a-active" : "")" asp-controller="HomeNew" asp-action="Education">Education</a>
                            </div>
                            <div class="nav-item ps-3 pe-3 fs-4">
                                <a class="a-link text-white text-decoration-none @(currentPage == "Skills" ? "a-active" : "")" asp-controller="HomeNew" asp-action="Skills">Skills</a>
                            </div>
                            <div class="nav-item ps-3 pe-3 fs-4">
                                <a class="a-link text-white text-decoration-none @(currentPage == "Projects" ? "a-active" : "")" asp-controller="ProjectsNew" asp-action="Projects">Projects</a>
                            </div>
                            <div class="nav-item ps-3 pe-3 fs-4">
                                <a class="a-link text-white text-decoration-none @(currentPage == "Info" ? "a-active" : "")" asp-controller="HomeNew" asp-action="Info">Info</a>
                            </div>
                        </div>

                    }
                    <div class="col-9 d-md-none align-items-center text-end">
                        <button type="button" class="btn dropdown-toggle p-0 nav-list-item" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/pictures/vectors/toolbar.svg" width="35" height="auto" alt="SVG Image">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end drop-nav bg-dr">

                            <a class="text-white text-decoration-none" asp-controller="HomeNew" asp-action="Education">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ms-auto ps-3 pe-3 fs-4">Education</div>
                            </li>
                            </a>

                            <a class="text-white text-decoration-none" asp-controller="HomeNew" asp-action="Skills">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ps-3 pe-3 fs-4">Skills</div>
                            </li>
                            </a>

                            <a class="text-white text-decoration-none" asp-controller="ProjectsNew" asp-action="Projects">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ps-3 pe-3 fs-4">
                                    Projects
                                </div>
                            </li>
                            </a>

                            <a class="text-white text-decoration-none" asp-controller="HomeNew" asp-action="Info">
                            <li class="drop-nav-li dropdown-element rounded-3">
                                <div class="ps-3 pe-3 fs-4">Info</div>
                            </li>
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" class="main ms-2 me-2">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>

        <footer class="footer m-2 mt-0 mb-0">
            <div class="fs-4 p-3 pt-2 pb-2 bg-def text-white container-fluid rounded-top">
                <div class="row d-none d-md-flex text-center">
                    <div class="col-3">
                        <a class="a-link text-white text-decoration-none" href="https://t.me/eugenekray"><img src="~/pictures/vectors/tg.svg" class="logo-img">  Telegram</a>
                    </div>
                    <div class="col-3">
                        <a class="a-link text-white text-decoration-none" href="https://github.com/Jevkray"><img src="~/pictures/vectors/gh.svg" class="logo-img">  GitHub</a>
                    </div>
                    <div class="col-3">
                        <a class="a-link text-white text-decoration-none" href="https://www.linkedin.com/in/eugene-krasovsky-164b60277/"><img src="~/pictures/vectors/lnkd.svg" class="logo-img">  LinkedIn</a>
                    </div>
                    <div class="col-3">
                        <a class="a-link text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="~/pictures/vectors/msg.svg" class="logo-img">  Mail Me</a>
                    </div>
                </div>

                <!--mobile only lodos-->

                <div class="row d-md-none text-center">
                    <div class="logo-item col-3">
                        <a class="a-link" href="https://t.me/eugenekray"><img src="~/pictures/vectors/tg.svg" class="logo-img"></a>
                    </div>
                    <div class="logo-item col-3">
                        <a class="a-link" href="https://github.com/Jevkray"><img src="~/pictures/vectors/gh.svg" class="logo-img"></a>
                    </div>
                    <div class="logo-item col-3">
                        <a class="a-link" href="https://www.linkedin.com/in/eugene-krasovsky-164b60277/"><img src="~/pictures/vectors/lnkd.svg" class="logo-img"></a>
                    </div>
                    <div class="logo-item col-3">
                        <a class="a-link" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="~/pictures/vectors/msg.svg" class="logo-img"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Скрипты -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Модальное -->

</html>
